* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.create-card-form {
  width: 50%;
  padding: 40px 80px ;
  display: flex;
  flex-direction: column;
}

.create-card-input, .create-card-select {
  border: 1px solid black;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  margin-top: 5px;
}

.create-card-textarea {
  border: 1px solid black;
  resize: none;
  height: 100px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  margin-top: 5px;
}

.create-card-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}

.create-card-label.inline {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.form-button {
  background-color: #CE2211;
  width: 100%;
  color: white;
  font-size: 22px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}

.form-button:hover {
  background-color: #E54222;
}

.form-button:disabled {
  cursor: default;
  background-color: gray;
}

.create-card-label-checkbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 18px;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  align-items: center;
}

.create-card-area {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.card-preview-area {
  background-color: #191919;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 240px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}

.card-image-area {
  position: relative;
  width: 100%;
  height: 150px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-name-area {
  background-color: #CE2211;
  color: white;
  text-align: center;
  height: 40px;
  word-wrap: normal;
  overflow: hidden;
  padding: 5px 10px;
  font-size: 22px;
  font-weight: 700;
}

.card-description-area {
  background-color: #191919;
  text-align: center;
  color: white;
  font-weight: 700;
  padding: 5px 10px;
  overflow: hidden;
  font-size: 14px;
  display: flex;
  height: 95px;
  align-items: center;
}

.card-description {
  display: block;
  width: 100%;
  max-height: 100%;
  word-wrap: break-word;
}

.card-status-area {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  background-color:  #191919;
  color: white;
}

.card-status {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
}

.card-attribute {
  width: 100%;
  font-weight: 700;
  color: #CE2211;
}

.card-attribute-value {
  width: 100%;
  font-weight: 700;
  font-size: 22px;
}
